
/************** Reset CSS ***************/
*,
*::before,
*::after {
  
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role=list]{
  list-style-type: none;
}
@font-face {
  font-family: Poppins;
  src: url(../font/poppins-light-webfont.woff2);
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url(../font/poppins-regular-webfont.woff2);
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(../font/poppins-bold-webfont.woff2);
  font-weight: 700;
}


html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
.wrapper{
  Max-width: 1190px;
  margin: 0 auto;
} 



/******************* Utilitaires ********************/


/*!           Padding/Margin         !*/

.p-0 {padding: 0.5rem 0.5rem;}
.p-1{padding: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.m-b0{margin-bottom: 0;}
.m-b1{margin-bottom: 1rem;}
.m-b2{margin-bottom: 2rem;}
.m-b3{margin-bottom: 3rem;}
.m-t0{margin-top: 0;}
.m-t1{margin-top: 1rem;}
.m-t2{margin-top: 2rem;}
.m-t3{margin-top: 3rem;}
.m-l0{margin-left: 0;}
.m-l1{margin-left: 1rem;}
.m-l2{margin-left: 2rem;}
.m-l3{margin-left: 3rem;}
.m-r0{margin-right: 0;}
.m-r1{margin-right: 1rem;}
.m-r2{margin-right: 2rem;}
.m-r3{margin-right: 3rem;}
.p-b0{padding-bottom: 0;}
.p-b1{padding-bottom: 1rem;}
.p-b2{padding-bottom: 2rem;}
.p-b3{padding-bottom: 3rem;}
.p-b4{padding-bottom: 4rem;}
.p-b5{padding-bottom: 5rem;}
.p-t0{padding-top: 0;}
.p-t1{padding-top: 1rem;}
.p-t2{padding-top: 2rem;}
.p-t3{padding-top: 3rem;}
.p-t4{padding-top: 4rem;}
.p-t5{padding-top: 5rem;}
.p-l0{padding-left: 0;}
.p-l1{padding-left: 1rem;}
.p-l2{padding-left: 2rem;}
.p-l3{padding-left: 3rem;}
.p-r0{padding-right: 0;}
.p-r1{padding-right: 1rem;}
.p-r2{padding-right: 2rem;}
.p-r3{padding-right: 3rem;}
.pad-0{padding: 0;}
.pad-1{padding: 1rem;}
.pad-2{padding: 2rem;}
.pad-3{padding: 3rem;}

.pad{padding:var(--pady) var(--padx);}


/*!           Text         !*/
.txt-1 {color: var(--color1);}
.txt-2 {color: var(--color2);}
.txt-3 {color: var(--color3);}
.txt-4 {color: var(--color4);}
.txt-5 {color: var(--color5);}
.txt-6 {color: var(--color6);}
.txt-7 {color: var(--color7);}
.txt-8 {color: var(--color8);}

/*?         Text Align         ?*/

.line20{line-height: 20px;}
.line30{line-height: 30px;}
.line40{line-height: 40px;}
.line50{line-height: 50px;}
.txt-center{text-align:center;}
.txt-left {text-align:left;}
.txt-right {text-align:right;}
.txt-justify {text-align:justify;}


.border1{border: 1px ;}
.border2{border: 1px ;}
.border3{border: 1px ;}
.border4{border: 1px ;}
.b-solid{border: solid ;}
.b-color1{color:var(--color1);}
.b-color2{color:var(--color2);}
.b-color3{color:var(--color3);}
.b-color4{color:var(--color4);}
.b-color5{color:var(--color5);}
.b-color6{color:var(--color6);}
.b-color7{color:var(--color7);}
.b-color8{color:var(--color8);}


/*?         Text Size         ?*/



h1{font-size: 3rem;}
h2{font-size: 1.6rem;}
h3{font-size: 1rem;}
p {font-size: 0.8rem;}
.light{font-weight:300;}
.regular{font-weight:400;}
.bold {font-weight:700;}
.ebold{font-weight:900;}
.little{font-size:0.6rem}
.normal{font-size:1rem}
.fat{font-size: 1.5rem}
.efat{font-size: 2rem}
.maj{text-transform: uppercase;}
.minu{text-transform:lowercase;}

/*!           Background         !*/

.bg-col-1 {background-color: var(--color1);}
.bg-col-2 {background-color: var(--color2);}
.bg-col-3 {background-color: var(--color3);}
.bg-col-4 {background-color: var(--color4);}
.bg-col-5 {background-color: var(--color5);}
.bg-col-6 {background-color: var(--color6);}
.bg-col-7 {background-color: var(--color7);}
.bg-col-8 {background-color: var(--color8);}

/*!           Flex         !*/
.flex {display:flex;}
.column {flex-direction:column;}
.row{ flex-direction: row;}
.align-center {align-items:center;}
.wrap{flex-wrap: wrap;}
.nowrap{flex-wrap: nowrap;}
.align-baseline {align-items: baseline;}
.center {justify-content:center;}
.between {justify-content:space-between;}
.start{justify-content:flex-start;}
.end{justify-content:flex-end;}
.gap-0 {gap:0.5rem;}
.gap-1 {gap:1rem;}
.gap-2 {gap:2rem;}
.gap-3 {gap:3rem;}

/*!           grid         !*/
.grid{display: grid;}
.g-column1{ grid-template-columns: repeat(1, 1fr);}
.g-column2{ grid-template-columns: repeat(2, 1fr);}
.g-column3{ grid-template-columns: repeat(3, 1fr);}
.g-column4{ grid-template-columns: repeat(4, 1fr);}
.g-row1{grid-template-rows: repeat(1, 1fr);}
.g-row2{grid-template-rows: repeat(2, 1fr);}
.g-row3{grid-template-rows: repeat(3, 1fr);}
.g-row4{grid-template-rows: repeat(4, 1fr);}
.g-gap10{grid-gap: 10px;}
.g-gap20{grid-gap: 20px;}
.g-gap30{grid-gap: 30px;}
.g-gap40{grid-gap: 40px;}



/*!           Width         !*/

.w100 {width: 100%;}
.w50 {width: 50%;}
.w30 {width: 30%;}
.w25 {width: 25%;}



.h100{height: 100vh;}

/*!!!!!!!!!!!! Other !!!!!!!!!!!!*/
.relative {position: relative;}
.absolute {position: absolute;}
.rounded5 {border-radius: 5px;}
.rounded10 {border-radius: 10px;}
.circle {border-radius: 50%;}
.border {border:none;}
.display{display:none;}
.pointer{cursor:pointer;}

/*************************************/